.top-back{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #373734;
  z-index: 20;
}
.topnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  background:url(../../img/logo.png) no-repeat center;
  background-size:80px 50px;
  color: #747d8c;
  padding: 14px 18px;
  border-bottom: 2px solid #c89f48;
  min-height: 66px;
  .logo{
    > div {
      border-radius: 50%;
      width: 36px;
      height: 36px;
    }
    .icon{
      width: 100%;
      height: 100%;
    }
  }
  .menu{
    display: flex;
    li {
      margin: 0 8px;
    }
  }
  .toggleAside {
    display: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    .icon{
      width: 100%;
      height: 100%;
    }
  }

  @media(max-width: 500px) {
    > .menu {
      display: none;
    }
    > .logo {
      margin-left: auto;
    }
    > .toggleAside {
      display: inline-block;
    }
  }
}